<router-outlet></router-outlet>
<!-- <div class=" p-5">
    <div class="fs-2  text-info text-center pb-4"> Kanban Board</div>
    <div class="d-flex justify-content-around mt-10 p-10  ">
      <div class="cus-column">
        <h3 class=" text-center text-primary my-3">To Do</h3>
        <div class="cus-card">Task 1</div>
        <div class="cus-card">Task 2</div>
      </div>
      <div class="cus-column">
        <h3 class=" text-center text-primary my-3">In Progress</h3>
        <div class="cus-card">Task 3</div>
      </div>
      <div class="cus-column">
        <h3 class=" text-center text-primary my-3">Done</h3>
        <div class="cus-card">Task 4</div>
      </div>
    </div>
  </div> -->