<div class="container-fluid">
  <div class="fs-3 text-center py-3">Kanban Board View</div>
  <div class="d-flex mx-3 align-items-center mt-4">

    <div class=" me-2">
      <button class="btn btn-primary " (click)="openpopup()"> Add Tak</button>
    </div>
    <div class="d-flex align-items-center cus-mat me-2">
      <div matSort (matSortChange)="sortData($event)" class="me-3">
        <button class="btn btn-success px-4  " [mat-sort-header]="'date'">Sort by Title</button>
      </div>
      <mat-form-field appearance="outline">
        <mat-label>Priority</mat-label>
        <mat-select [(ngModel)]="prioritysearchdata" (ngModelChange)="search('priority')">
          <mat-option value="high">High</mat-option>
          <mat-option value="medium">medium </mat-option>
          <mat-option value="low">Low</mat-option>
          <mat-option value="all">All</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="cus-mat">
      <mat-form-field class=" " appearance="outline">
        <mat-label>Search</mat-label>
        <input matInput [(ngModel)]="searchdata" (ngModelChange)="search('value')">
      </mat-form-field>
    </div>
  </div>
  <div class="">
    <div cdkDropListGroup>
      <div class="d-flex justify-content-around flex-column flex-md-row">

        <!-- Todo List -->
        <div class="w-100  mx-3">
          <div class="example-container">
            <h2 class="head-title mt-3 ">To Do</h2>
            <div cdkDropList [cdkDropListData]="todoList" class="example-list" (cdkDropListDropped)="drop($event)">
              <div *ngIf="todoList.length==0" class="p-2">No data found</div>
              <div class="example-box" *ngFor="let item of todoList, let i = index" cdkDrag>
                <div>
                  <div>{{item.title}}</div>
                  <div>{{item.date}}</div>
                  <div>{{item.description}}</div>
                  <div>{{item.priority}}</div>
                </div>
                <div class="box">
                  <button mat-icon-button color="primary"
                    (click)="onEdit(item,i,'todo')"><mat-icon>edit</mat-icon></button>
                  <button mat-icon-button color="warn"
                    (click)="deleteItem(i,'todo')"><mat-icon>delete</mat-icon></button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- inprogress list -->
        <div class=" w-100 mx-3">
          <div class="example-container">
            <h2 class="head-title mt-3">In Progress</h2>
            <div cdkDropList [cdkDropListData]="inprogress" class="example-list" (cdkDropListDropped)="drop($event)">
              <div *ngIf="inprogress.length==0" class="p-2">No data found</div>
              <div class="example-box" *ngFor="let item of inprogress, let i= index" cdkDrag>
                <div>
                  <div>{{item.title}}</div>
                  <div>{{item.date}}</div>
                  <div>{{item.description}}</div>
                  <div>{{item.priority}}</div>
                </div>
                <div class="box">
                  <button mat-icon-button color="primary"
                    (click)="onEdit(item,i,'inprogress')"><mat-icon>edit</mat-icon></button>
                  <button mat-icon-button color="warn"
                    (click)="deleteItem(i,'inprogress')"><mat-icon>delete</mat-icon></button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- done list -->
        <div class="w-100 mx-3 ">
          <div class="example-container">
            <h2 class="head-title mt-3">Done</h2>
            <div cdkDropList [cdkDropListData]="doneList" class="example-list" (cdkDropListDropped)="drop($event)">
              <div *ngIf="doneList.length==0" class="p-2">No data found</div>
              <div class="example-box" *ngFor="let item of doneList, let i = index" cdkDrag>
                <div>
                  <div>{{item.title}}</div>
                  <div>{{item.date}}</div>
                  <div>{{item.description}}</div>
                  <div>{{item.priority}}</div>
                </div>
                <div class="box">
                  <button mat-icon-button color="primary"
                    (click)="onEdit(item,i,'done')"><mat-icon>edit</mat-icon></button>
                  <button mat-icon-button color="warn"
                    (click)="deleteItem(i,'done')"><mat-icon>delete</mat-icon></button>
                </div>
              </div>
            </div>
          </div>
        </div>


        <!-- Test List -->
        <div class="w-100 mx-3 ">
          <div class="example-container">
            <h2 class="head-title mt-3">Test</h2>
            <div cdkDropList [cdkDropListData]="testList" class="example-list" (cdkDropListDropped)="drop($event)">
              <div *ngIf="testList.length==0" class="p-2">No data found</div>
              <div class="example-box" *ngFor="let item of testList, let i = index" cdkDrag>
                <div>
                  <div>{{item.title}}</div>
                  <div>{{item.date}}</div>
                  <div>{{item.description}}</div>
                  <div>{{item.priority}}</div>
                </div>
                <div class="box">
                  <button mat-icon-button color="primary"
                    (click)="onEdit(item,i,'test')"><mat-icon>edit</mat-icon></button>
                  <button mat-icon-button color="warn"
                    (click)="deleteItem(i,'test')"><mat-icon>delete</mat-icon></button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Deploy List -->
        <div class=" w-100 mx-3">
          <div class="example-container">
            <h2 class="head-title mt-3">Deployed</h2>
            <div cdkDropList [cdkDropListData]="deployList" class="example-list" (cdkDropListDropped)="drop($event)">
              <div *ngIf="deployList.length==0" class="p-2">No data found</div>
              <div class="example-box" *ngFor="let item of deployList, let i = index" cdkDrag>
                <div>
                  <div>{{item.title}}</div>
                  <div>{{item.date}}</div>
                  <div>{{item.description}}</div>
                  <div>{{item.priority}}</div>
                </div>
                <div class="box">
                  <button mat-icon-button color="primary"
                    (click)="onEdit(item,i,'deploy')"><mat-icon>edit</mat-icon></button>
                  <button mat-icon-button color="warn"
                    (click)="deleteItem(i,'deploy')"><mat-icon>delete</mat-icon></button>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="Logout"><a class="btn btn-danger"  (click)="logout()">Logout</a></div>
</div>






<ng-template #add>
  <div class="card">
    <div class="card-body">

      <form [formGroup]="stockForm">
        <div>
          <mat-form-field appearance="outline" class="w-100 pb-3">
            <mat-label>Task Title</mat-label>
            <input matInput formControlName="title" placeholder="Title">
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="outline" class="w-100 pb-3 ">
            <mat-label>Due date</mat-label>
            <input matInput formControlName="date" type="date" placeholder="Date">
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="outline" class="w-100 pb-3">
            <mat-label>Description</mat-label>
            <input matInput formControlName="desc" placeholder="description">
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="fill">
            <mat-label>priority</mat-label>
            <mat-select formControlName="priority">
              <mat-option value="high">High</mat-option>
              <mat-option value="medium">medium </mat-option>
              <mat-option value="low">Low</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <button *ngIf="!isEditEnabled" (click)="addList()" mat-raised-button color="primary"
          [disabled]="stockForm.invalid">Add</button>
        <button *ngIf="isEditEnabled" (click)="updateList()" mat-raised-button color="primary"
          [disabled]="stockForm.invalid">Update</button>
      </form>
    </div>
  </div>
</ng-template>